*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* body{
    background-color: bisque;
} */

ul{
    text-align: center;
    display: inline-flex;
}

li{
    list-style: none;
    text-decoration: none; 
}

img{
    width: 100px;
    height: 100px;
    margin: 5px;
}

#Pagina{
    width: 900px;
    height: 1000px;
    background-color: bisque;
}

#Cabecera{
    height: 15%;
    margin: 10px;
    border-radius: 5px;
}

#Barra-de-navegacion{
    height: 5%;
    margin: 10px;
    border-radius: 5px;
}

#Seccion{
    height: 70%;
    margin: 10px;
}

#Pie-de-pagina{
    height: 10%;
    margin: 10px;
    border-radius: 5px;
}

.encabezado{
    background-color: rgb(63, 163, 63);
    color: red;
    align-items: center;
    text-align: center;
}

.encabezado h2{
    color: red;
    padding: 50px;
    font-size: 50px;
}

.barraNavegacion{
    background-color: rgb(254, 91, 91);
    justify-content: center;
    display: flex;
}

.barraNavegacion nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 15px 40px;
}

.barraNavegacion nav a:hover{
    background-color: white;
    color: rgb(254, 91, 91);
    border: 1px solid rgb(254, 91, 91);
}

.seccion{
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.img{
    display: inline-flex;
    text-align: center;
    padding: 0 50px;
    gap: 100px;
    margin-top: 30px;
    font-size: 14px;
    color: rgb(254, 91, 91);
    font-weight: bold;
}

.pieImg{
    position: relative;
    display: block;
}


.pieNavegacion{
    background-color: white;
    border: 2px solid rgb(63, 163, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: justify;
    padding: 10px 0;
    font-size: 18px;
}